<div class="container spaceHeader">
  <h2 class="subtitulo">Editar Entrada</h2>

  <form #form="ngForm" autocomplete="off" (submit)="edit()">

    <div class="formgrid grid">
      <div class="field col-6">
        <div class="col-12 p-fluid">
            <label for="campeonato" class="label">Campeonato</label>
            <p-autoComplete
                  id="campeonato"
                  name="campeonato"
                  #campeonato="ngModel"
                  [(ngModel)]="campeonatoSelect"
                  [virtualScroll]="true"
                  [suggestions]="filteredCampeonatos"
                  [virtualScrollItemSize]="34"
                  (completeMethod)="filterCampeonatos($event)"
                  field="label"
                  [dropdown]="true"
                  [delay]="500"
                  (onSelect)="clearTimes()"
                  [required]="true">
                </p-autoComplete>
                <app-message [control]="campeonato" error="required" text="Informe um campeonato" ></app-message>
              </div>
            </div>

      <div class="field col-6">
          <div class="col-12 p-fluid">
            <label for="metodo" class="label">Método</label>
            <p-autoComplete
                id="metodo"
                name="metodo"
                #metodo="ngModel"
                [(ngModel)]="metodoSelect"
                [virtualScroll]="true"
                [suggestions]="filteredMetodos"
                [virtualScrollItemSize]="34"
                (completeMethod)="filterMetodos($event)"
                field="label"
                [dropdown]="true"
                [delay]="500"
                (onSelect)="tratarCamposVinculados()"
                [required]="true">
              </p-autoComplete>
              <app-message [control]="metodo" error="required" text="Informe um método" ></app-message>
            </div>
          </div>

      <div class="field col-6">
        <div class="col-12 p-fluid">
          <label for="mandante" class="label">Mandante</label>
          <p-autoComplete
            id="mandante"
            name="mandante"
            #mandante="ngModel"
            [(ngModel)]="mandanteSelect"
            [virtualScroll]="true"
            [suggestions]="filteredMandante"
            [virtualScrollItemSize]="34"
            (completeMethod)="filterTimes($event)"
            field="label"
            [dropdown]="true"
            [delay]="500"
            [disabled]="!campeonatoSelect"
            [required]="true">
          </p-autoComplete>
          <app-message [control]="mandante" error="required" text="Informe um mandante" ></app-message>
        </div>
      </div>

      <div class="field col-6">
        <div class="col-12 p-fluid">
          <label for="visitante" class="label">Visitante</label>
          <p-autoComplete
            id="visitante"
            name="visitante"
            #visitante="ngModel"
            [(ngModel)]="visitanteSelect"
            [virtualScroll]="true"
            [suggestions]="filteredVisitante"
            [virtualScrollItemSize]="34"
            (completeMethod)="filterTimes($event)"
            field="label"
            [dropdown]="true"
            [delay]="500"
            [disabled]="!campeonatoSelect"
            [required]="true">
          </p-autoComplete>
          <app-message [control]="visitante" error="required" text="Informe um visitante" ></app-message>
        </div>
      </div>

      <div class="field col-6" *ngIf="metodoSelect?.exigirPreenchimentoFlagMandanteVisitante">
        <div class="col-12 p-fluid">
            <label class="label" for="flMandante">Aposta a favor mandante</label>&nbsp;
            <p-radioButton
              name="flAposta"
              value="apostaAFavorMandante"
              [(ngModel)]="apostaAFavor"
              inputId="flMandante"
              [required]="true"></p-radioButton>
          </div>
      </div>
      <div class="field col-6" *ngIf="metodoSelect?.exigirPreenchimentoFlagMandanteVisitante">
        <div class="col-12 p-fluid">
            <label class="label" for="flVisitante">Aposta a favor visitante</label>&nbsp;
            <p-radioButton
              name="flAposta"
              value="apostaAFavorVisitante"
              [(ngModel)]="apostaAFavor"
              inputId="flVisitante"
              [required]="true"></p-radioButton>
        </div>
      </div>
      <!-- <div class="field col-12" *ngIf="metodoSelect?.exigirPreenchimentoFlagMandanteVisitante"></div> -->

      <!-- <div class="field col-12"></div> -->

      <div class="field col-4" *ngIf="metodoSelect?.exigirPreenchimentoFlagGolContraFavor">
        <div class="col-12 p-fluid">
          <label for="golFavor" class="label">Gol a favor:</label>&nbsp;
          <p-checkbox name="golFavor" [(ngModel)]="entrada.golAFavor" [binary]="true" inputId="golFavor" ></p-checkbox>
        </div>
      </div>
      <div class="field col-4" *ngIf="metodoSelect?.exigirPreenchimentoFlagGolContraFavor">
        <div class="col-12 p-fluid">
          <label for="golContra" class="label">Gol contra posição:</label>&nbsp;
          <p-checkbox name="golContra" [(ngModel)]="entrada.golContra" [binary]="true" inputId="golContra" ></p-checkbox>
        </div>
      </div>
      <div class="field col-4" *ngIf="metodoSelect?.exigirPreenchimentoFlagRedCard">
        <div class="col-12 p-fluid">
          <label for="redCard" class="label">Red card:</label>&nbsp;
          <p-checkbox name="redCard" [(ngModel)]="entrada.redCard" [binary]="true" inputId="redCard" #redCard="ngModel"></p-checkbox>
        </div>
      </div>

      <div class="field col-4" *ngIf="entrada.golAFavor && entrada.golContra">
        <div class="col-12 p-fluid">
          <label for="maisGolsFavor" class="label">Mais Gols Favor:</label>&nbsp;
          <p-checkbox name="maisGolsFavor" [(ngModel)]="entrada.maisGolsFavor" [binary]="true" inputId="maisGolsFavor"
            [disabled]="entrada.maisGolsContra"></p-checkbox>
        </div>
      </div>
      <div class="field col-4" *ngIf="entrada.golAFavor && entrada.golContra">
        <div class="col-12 p-fluid">
          <label for="maisGolsContra" class="label">Mais Gols Contra:</label>&nbsp;
          <p-checkbox name="maisGolsContra" [(ngModel)]="entrada.maisGolsContra" [binary]="true" inputId="maisGolsContra"
            [disabled]="entrada.maisGolsFavor"></p-checkbox>
        </div>
      </div>

      <div class="field col-12"></div>

      <div class="field col-4">
        <div class="col-12 p-fluid">
          <label for="valor" class="label">Stake Default</label>
          <p-inputNumber
            id="valor"
            name="valor"
            mode="currency"
            currency="BRL"
            [(ngModel)]="entrada.valor"
            #valor="ngModel">
          </p-inputNumber>
        </div>
      </div>

      <div class="field col-4">
        <div class="col-12 p-fluid">
          <label for="lucroPrejuizo" class="label">Lucro/Prejuízo</label>
          <p-inputNumber
            id="lucroPrejuizo"
            name="lucroPrejuizo"
            #lucroPrejuizo="ngModel"
            inputId="currency-br"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            [(ngModel)]="entrada.lucroPrejuizo"
            [required]="true">
          </p-inputNumber>
          <app-message [control]="lucroPrejuizo" error="required" text="Informe um Lucro/Prejuizo" ></app-message>
        </div>
      </div>

      <div class="field col-4">
        <div class="col-12 p-fluid">
          <label for="odd" class="label">Odd</label>
          <p-inputNumber
            id="odd"
            name="odd"
            [(ngModel)]="entrada.odd"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
            [max]="1000"
            [min]="1.01">
          </p-inputNumber>
        </div>
      </div>

      <div class="field col-4">
        <div class="col-12 p-fluid">
          <label for="date" class="label">Data</label>
          <p-calendar
            name="date"
            #date="ngModel"
            dateFormat="dd/mm/yy"
            [(ngModel)]="dateField"
            [showIcon]="true"
            inputId="icon"
            [maxDate]="dateField"
            [readonlyInput]="true"
            [required]="true">
          </p-calendar>
          <app-message [control]="date" error="required" text="Informe uma data" ></app-message>
        </div>
      </div>

    </div>


    <div class="col-12 spaceTop alignRight">
      <a class="margin-right" routerLink="/entradas" pButton  icon="pi pi-arrow-left"></a>
      <button type="submit" pButton icon="pi pi-save"
        [disabled]="form.invalid || (metodoSelect?.exigirPreenchimentoFlagMandanteVisitante && !apostaAFavor)">
      </button>
    </div>


  </form>

</div>
