<div class="container spaceHeader">
  <h2 class="subtitulo">Métodos</h2>

  <div class="card flex justify-content-center" *ngIf="showSpinner">
    <p-progressSpinner [style]="{width: '40px', height: '50px'}"  strokeWidth="3"
      fill="var(--surface-ground)" animationDuration=".6s" styleClass="custom-spinner" ></p-progressSpinner>
  </div>

  <div class="col-12 spaceTop">
      <p-table
          [value]="metodos"
          [responsive]="true"
          [lazy]="true"
          (onLazyLoad)="changePage($event)"
          [paginator]="true"
          [totalRecords]="totalRegistros"
          [rows]="metodoFiltro.itensPorPagina"
          #tabela
          [filterDelay]="800"
          [globalFilterFields]="['nome']"
          styleClass="p-datatable-gridlines p-datatable-striped">

          <ng-template pTemplate="caption">
            <div class="col-12 p-fluid">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="tabela.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisa por nome" />
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
              <tr>
                  <th>Nome</th>
                  <th>Stake Default</th>
                  <th>Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-metodo>
              <tr>
                  <td>
                    <span class="p-column-title">Nome</span> <!--É exibido quando a tabela ficar menor-->
                    {{metodo.nome}}
                  </td>
                  <td>
                    <span class="p-column-title">Stake Default</span>
                    {{ metodo.stakeDefault | currency : "BRL" : "symbol" : "1.2-2" : "pt" }}
                  </td>

                  <td class="acoes">
                    <a [routerLink]="['/metodos/visualizar', metodo.id]" icon="pi pi-search" class="cursor-pointer" pButton pTooltip="Visualizar metodo"></a>
                    <a [routerLink]="['/metodos/editar', metodo.id]" icon="pi pi-pencil" class="cursor-pointer" pButton pTooltip="Editar metodo"></a>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <!--Observe que foi definido o valor 6 para o colspan, isso porque existem 6 colunas na nossa tabela de lançamentos.-->
              <td colspan="6">
                Nenhum método encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div class="col-12 spaceTop alignRight">
          <a routerLink="/metodos/novo" tooltipPosition="top" pButton icon="pi pi-plus"></a>
        </div>

  </div>
